[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
notebook = "*"
jupyterlab = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
kaggle = "*"
fastparquet = "*"
pyarrow = "*"
pylama = "*"
pycodestyle = "*"
pep8 = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
